.App {
  font-family: sans-serif;
  text-align: center;
}

.bubble {
  position: absolute;
  background: salmon;
  color: #fff;
  text-align: center;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
}
